// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Gentelella
@import '~gentelella/src/scss/custom.scss';

// Font-awesome free version
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';

.container {
    width: 100%;
    padding: 0;
    max-width: 100%;
}

.top_nav .navbar-right {
    margin: 13px;
    width: auto;
    float: right;
}

.menu_section > ul {
    margin-top: 10px;
    display: block;
}

.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
